*{
    margin: 0px;
    padding: 0px;
}

body{}

#contenedor{
    width: 80%;
    margin: 10px auto;
}

button{
    width: 50%;
    margin-top: 10px;
    background-color: rgb(123, 178, 245);
    color: black;
    margin-left: 25%;
    height: 40px;
    margin-bottom: 10px;
}

nav{

}

#logo{
    float: left;
    width: 25%;
    height: 150px;
    background-color: red;

}

#menu{
    float: left;
    width: 75%;
    height: 150px;
    background-color: orange;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    text-align: right;
}

nav ul li a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-decoration: none;
    text-align: right;
}

header{ clear: both;/* anula flotamoento*/
    height: 250px;
    width: 30%;
    background-color: green;
}


#izq{
    float: left;
    width: 33%;
    height: 400px;
    background-color: blue;
}

#centro{
    float: left;
    width: 33%;
    height: 400px;
    background-color: cyan;
}

#der{
    float: left;
    width: 33%;
    height: 400px;
    background-color: skyblue;
}

#uno{
    clear: both;
    float: left;
    width: 50%;
    height: 200px;
    background-color: tomato;
}

#dos{
    float: left;
    width: 50%;
    height: 200px;
    background-color: red;
}

footer{
    clear: both;
    height: 30px;
    background-color: green;
}

h1{
    text-align: center;
    color: black;
    font-size: 3em;
}