*{
margin: 0px;
padding: 0px;
}

#menu{
    float: left;
    width: 100%;
    height: 150px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin-left: 25px;
    text-align: right;
}

nav ul li a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-decoration: none;
    text-align: right;
}

h1{
    text-align: center;
    color: black;
}